body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

section {
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.container, section {
    margin-left: auto;
    margin-right: auto;
}

.heading-section {
    border-left: 1px solid;
}

.heading-text {
    font-size: 5rem;
}

.left-side {
    text-align: right;
}
li{
    margin-bottom: 0.4rem;
}
@media (max-width: 640px) {
    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        background: transparent;
    }

    .container{
        font-size: 1.1rem;
    }
    .heading-text {
        font-size: 3.3rem;
    }

    .heading-section {

        border-left: none;
    }

    .left-side {
        text-align: left;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    p {
    }

    .small-text {
    }
}

@media (min-width: 640px) {
    .experience-card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background:radial-gradient(
            circle 500px at var(--x) var(--y),
            #beb99b,
            transparent 100%
    );
    z-index: 0;
    transition: background 0.15s ease-out;
}

.dark .overlay {
    background: radial-gradient(
            circle 500px at var(--x) var(--y),
            #181611,
            transparent 100%
    );
    z-index: 0;
    transition: background 1s ease-out;
}

.body-full {
    position: relative;
    z-index: 1;
}